ul{list-style-type: none; float: left;}
logo2.pnb img{position: absolute;margin-top: 15px; margin-left: 10px;}
li{float: left; padding-left: 30px; padding-top: 20px;}
nav{width: 100%; background: red; height: 80px;}
ul li a{text-decoration:none; font-weight: bold; color: black; font-size: 20px;transition-duration: 2s;}
ul li a:hover{color: white;}

.heading{background-color: yellowgreen;background: cover; height: 350px; width: 90%; text-align: center;font-size: 30px;padding: 5%;}
.heading{style="color: white;"}
.heading .btnbanner{width: 120px; height: 50px; background: #000; color: #fff; border: 0; box-shadow: 0 0 5px #fff;font-weight: bold;}
.heading .btnbanner:hover{background: #fff; color: #000;}


.section{width: 100%; float: left}
.section1{width: 100%; float: left;}
.div2{height: 600px; width: 40%; background: white; float: left;}
.div1{height: 600px; width: 60%; background: white;font-weight: bold;font-size: 20px; float: left;}
.div2 img{ margin-top: 30px; box-shadow: 0 0 10px #000;height: 380px;width: 80%;margin-left: 30px;}
.para1{opacity:0.3;}
.section2{width: 100%; float: left;}
.section1{width: 100%; float: right;}
.div3{float: left;height: 200px; width: 35%; background: white;}
.div4{float: right; height: 600px; width: 60%; backgrounnd: white;font-weight: bold;font-size: 20px;}

.div3 img{height: 400px;width: 80%; margin-right: 10px;margin-left: 40px; margin-bottom: 10px; box-shadow: 0 0 10px #000;}
.section3{width: 100%; float: left; padding-top:50px; padding-bottom: 50px; background: #888;}
.section3 h1{text-align: center; }
/*.test{padding-bottom: 20%; background-color: #c4bbbb;height: 350px; width: 90%; text-align: center; font-size: 30px;}*/

.section4{width: 100%; float: left}
.section4{width: 100%; float: left}
.demmy1{background-color: white; text-align: center;margin-top: 200px;padding-bottom: 120px;}





/*li*/

 /*   background: #fff;
    padding: 22px 36px 24px;*/
/*a*/
        /*color: #000;*/
